.btn {
	display: inline-block;
	padding: 1.5rem 2rem;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: $font-black;

	&--card {
		padding: 1rem 2rem;
		text-transform: uppercase;
		text-decoration: none;
		display: inline-block;
		i {
			margin-right: 0.3rem;
		}
		@media (min-width: 676px) {
			padding: 1rem 1.5rem;
		}
		@media (min-width: 1110px) {
			padding: 1rem 2.5rem;
		}
	}

	&:last-of-type {
		margin-bottom: 1.5rem;
	}
	&:not(:last-child) {
		margin-right: 2rem;
	}

	//style the buttons from range  minum 725px to 1110px
	@media (min-width: 676px) {
		padding: 1.5rem 3rem;
		height: 4rem;
		width: 25%;
	}
	@media (min-width: 1110px) {
		padding: 1.5rem 3.5rem;
		height: 4.5rem;
		width: 20%;
	}
}

.btn--primary {
	background-color: $color-primary-yellow;
	color: $text-inverse;
	border: 0.2rem solid $color-primary-yellow;

	&:hover,
	&:focus {
		background: darken($color: $color-primary-yellow, $amount: 10%);
		border-color: darken($color: $color-primary-yellow, $amount: 10%);
	}
}

.btn--secondary {
	border: 0.2rem solid $color-primary-yellow;
	color: $text-main;

	&:hover,
	&:focus {
		background-color: $color-primary-yellow;
		color: $text-inverse;
		border: 0.2rem solid $color-primary-yellow;
	}
}

.button-login {
	padding: 1rem 3.5rem;
	height: 4.5rem;
	width: 75%;
	border-radius: 0.4rem;

	@media (min-width: 676px) {
		padding: 1rem 3rem;
		height: 4rem;
		width: 40%;
	}
}

.btn--blue {
	background-color: $card-color-blue;
	color: $text-inverse;
	border: 0.2rem solid $card-color-blue;
	border-radius: 0.5rem;

	&:hover,
	&:focus {
		background: darken($color: $card-color-blue, $amount: 10%);
		border-color: darken($color: $card-color-blue, $amount: 10%);
	}
}
.btn--red {
	background-color: $card-color-red;
	color: $text-inverse;
	border: 0.2rem solid $card-color-red;
	border-radius: 0.5rem;

	&:hover,
	&:focus {
		background: darken($color: $card-color-red, $amount: 10%);
		border-color: darken($color: $card-color-red, $amount: 10%);
	}
}
.btn--black {
	background-color: $card-color-black;
	color: $text-inverse;
	border: 0.2rem solid $card-color-black;
	border-radius: 0.5rem;

	&:hover,
	&:focus {
		background: darken($color: $card-color-black, $amount: 10%);
		border-color: darken($color: $card-color-black, $amount: 10%);
	}
}
.btn--orange {
	background-color: $card-color-orange;
	color: $text-inverse;
	border: 0.2rem solid $card-color-orange;
	border-radius: 0.5rem;

	&:hover,
	&:focus {
		background: darken($color: $card-color-orange, $amount: 10%);
		border-color: darken($color: $card-color-orange, $amount: 10%);
	}
}
